<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>
		<add name = "connectionKeyServer"
			 connectionString = "Server = (LocalDb)\LocalDBDemo; Integrated Security = true"
			 providerName = "System.Data.SqlClient"/>
		<add name = "connectionKeyDatabase"
			 connectionString = "Server = (LocalDb)\LocalDBDemo; Initial Catalog=quizDb; Integrated Security = true;"
			 providerName = "System.Data.SqlClient"/>
	</connectionStrings>
</configuration>